# Importando bibliotecas usuais para trabalhar com dados

In [2]:
import pandas as pd
from time import sleep

# Lendo o arquivo CSV

In [3]:
lista_animes = pd.read_csv('anime.csv')
lista_animes.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

# Analisando maiores notas

In [12]:
lista_animes.rating.value_counts

<bound method IndexOpsMixin.value_counts of 0        9.37
1        9.26
2        9.25
3        9.17
4        9.16
         ...
12289    4.15
12290    4.28
12291    4.88
12292    4.98
12293    5.46
Name: rating, Length: 12294, dtype: float64>

# Buscando animes

In [3]:
def busca_animes(lista_animes):
    flag = 0
    while 1:
        str = input("Deseja procurar algum anime? Responda com 'sim' ou 'não' => ")
        str = str.strip().capitalize().lower().replace('ã', 'a')
        if str == 'nao':
            return -1
        if str != 'nao' and str != 'sim':
            continue

        nome_anime = input("\nDigite o nome do anime que deseja buscar => ")
        j = 0
        for i in lista_animes.name:
            if i.strip().capitalize().lower() == nome_anime.strip().capitalize().lower():
                print(lista_animes.loc[j])
                print("\n")
                if flag == 0:
                    aux = lista_animes.query("index == {}".format(j))
                    animes_buscados = aux
                    flag = 1
                elif flag == 1:
                    aux = lista_animes.query("index == {}".format(j))
                    animes_buscados = pd.merge(animes_buscados, aux, how='outer')
                break
            else:
                print("Desculpe, anime não encontrado.\n")  
            j += 1  
    return animes_buscados

# Tabela de animes famosos no ocidente

In [56]:
dragon_ball = lista_animes.query("name == 'Dragon Ball'")
dragon_ball_z = lista_animes.query("name == 'Dragon Ball Z'")
dragon_ball_gt = lista_animes.query("name == 'Dragon Ball GT'")
naruto = lista_animes.query("name == 'Naruto'")
cavaleiros = lista_animes.query("name == 'Saint Seiya'")

animes_ocidente = pd.merge(dragon_ball, dragon_ball_z, how='outer')
animes_ocidente = pd.merge(animes_ocidente, dragon_ball_gt, how='outer')
animes_ocidente = pd.merge(animes_ocidente, naruto, how='outer')
animes_ocidente = pd.merge(animes_ocidente, cavaleiros, how='outer')

animes_ocidente

,anime_id,name,genre,type,episodes,rating,members
0,223,Dragon Ball,"Adventure, Comedy, Fantasy, Martial Arts, Shou...",TV,153,8.16,316102
1,813,Dragon Ball Z,"Action, Adventure, Comedy, Fantasy, Martial Ar...",TV,291,8.32,375662
2,225,Dragon Ball GT,"Action, Adventure, Comedy, Fantasy, Magic, Sci...",TV,64,6.72,226625
3,20,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220,7.81,683297
4,1254,Saint Seiya,"Adventure, Fantasy, Sci-Fi, Shounen",TV,114,8.03,70559
5,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665

# Baixar tabela com os animes buscados

In [ ]:
def tabela_busca(animes_buscados):
    str = input("\nDeseja baixar uma tabela com os animes buscados por você? ") 
    str = str.strip().capitalize().lower().replace('ã', 'a') 
    if animes_buscados == -1:
        print("Desculpe, mas você não buscou nenhum anime.\n")
        return
    while 1:
        if str == 'sim':
            animes_buscados.to_csv('animes-buscados.csv', sep = ',')
            print("...")
            sleep(2)
            print('Pronto! Download realizado com sucesso\n')
            break
        elif str == 'nao':
            break
        else:
            print("Por favor, responda com 'sim' ou 'não'\n")